@import url(./font-awesome.css);

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600&display=swap');

:root {
    --yellow: #f9ca24;
    --white: #fff;
    --fondo: #111;
    --fondoBTN: #333;
    --fondoCard: #222;
}

* {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    transition: all .2s linear;
}

*::selection {
    background: var(--yellow);
    color: var(--fondoBTN);
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

html::-webkit-scrollbar {
    width: 1.4rem;
}

html::-webkit-scrollbar-track {
    background: var(--fondoCard);
}

html::-webkit-scrollbar-thumb {
    background: var(--yellow);
}

body {
    background: var(--fondo);
    overflow-x: hidden;
    padding-left: 35rem;
}

section {
    min-height: 100vh;
    padding: 1rem;
}
/*============= Button ==================*/
.btn {
    width: 260px;
    height: 32px;
    padding: 0.7rem 3rem;
    background: var(--fondoBTN);
    color: var(--white);
    cursor: pointer;
    text-align: center;
    align-items: center;
    font-size: 1.6rem;
    font-weight: 500;
    border-radius: 5rem;
    margin-top: 90px;
}

.btnDownl{
    
    margin-left: 150px;
    margin-bottom: 80px;
}
.btnDownl a{
    font-weight: 600;
    color: var(--white);
}

.btnDownl a:hover{
    color: black;
}

.btn i {
    margin-left: 9px;
    padding: 0 .5rem;
    font-size: 1.8rem;
}

.btn:hover {
    background: var(--yellow);
    color: black;

}
/*============= fin Button ==================*/

.heading {
    text-align: center;
    margin: 0 6rem;
    font-size: 4rem;
    padding: 1rem;
    border-bottom: .1rem solid var(--fondoBTN);
    color: var(--white);
}

.heading span {
    color: var(--yellow);
}

header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    height: 100%;
    width: 35rem;
    background: var(--white);
    border-right: 1px solid rgba(255, 255, 255, 0.367);
    background-image: url("../img/teclado.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    text-align: center;
}

header .user img {
    height: 17rem;
    width: 17rem;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1rem;
    border: .2rem solid var(--yellow);
    box-shadow: 0px 4px 5pc rgb(122, 122, 35);
}

header .user .name {
    font-size: 3.5rem;
    color: var(--white);
    font-weight: 700;
}

header .user .post {
    font-size: 2rem;
    color: 3.5rem;
    color: var(--yellow);
    font-weight: 800;
}

header .navbar {
    width: 100%;
}

header .navbar ul {
    list-style: none;
    padding: 1rem 3rem;
}

header .navbar ul li a {
    display: block;
    padding: 1rem;
    margin: 1.5rem 0;
    background: var(--fondoBTN);
    color: var(--white);
    font-size: 2rem;
    border-radius: 5rem;
}

header .navbar ul li a:hover {
    background: var(--yellow);
}

#menu {
    position: fixed;
    top: 2rem;
    right: 2rem;
    background: var(--fondoBTN);
    color: var(--white);
    cursor: pointer;
    font-size: 2.5rem;
    padding: 1rem 1.5rem;
    z-index: 1000;
    display: none;
}

.home {
    background-image: url('../img/cogigo-1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-flow: column;
    padding: 0 15rem;
}



.home h3 {
    font-size: 2.5rem;
    color: var(--white);
}

.home h1 {
    font-size: 5rem;
    color: var(--white);
}

.home h1 span {
    color: var(--yellow);
}

.home p {
    text-align: justify;
    font-size: 2rem;
    font-weight: bold;
    color: var(--white);
    padding: 1rem 0;
}

.home .span {
    color: var(--yellow);
    font-size: 3rem;
    font-weight: bold;
}


.about .row {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1rem 0;
}

.info p {
    text-align: justify;
    margin: 40px 40px;
    margin-bottom: 30px;
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    color: var(--white);
}

.about .row .counter {
    margin-top: 3rem;
    flex: 1 1 48rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.about .row .counter .box {
    width: 20rem;
    height: 120;
    background: var(--fondoCard);
    text-align: center;
    padding: 2rem;
    margin: 2rem;
    border-radius: 3px;
}


.about .row .counter .box span {
    text-align: center;
    font-size: 2.3rem;
    color: var(--yellow);
}


.about .row .counter .box p {
    text-align: center;
    margin-top: 1rem;
    font-size: 1.4rem;
    color: var(--white);
    position: relative;

}

.education .box-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1rem 0;
    padding-left: 3rem;
}

.education .box-container .box {
    width: 27rem;
    margin: 8rem 1rem;
    padding-left: 4rem;
    border-left: .2rem solid var(--white);
    position: relative;
}


.education .box-container .education .box-container .box span {
    font-size: 1.3rem;
    background: var(--fondoCard);
    color: var(--white);
    border-radius: 5rem;
    padding: .5rem 2.5rem;
}

.education .box-container .box h3 {
    font-size: 2rem;
    color: var(--white);
    padding-top: 1.5rem;
}

.education .box-container .box p {
    font-size: 1.4rem;
    color: var(--white);
    padding: 1rem 0;
}

.education .box-container .box i {
    position: absolute;
    top: -1.5rem;
    left: -2.5rem;
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    line-height: 5rem;
    text-align: center;
    font-size: 2rem;
    color: var(--fondoCard);
    background: var(--yellow);
}

.span {
    color: var(--yellow);
    font-size: 2rem;
}

.portfolio .box-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 8rem 0;
}


.portfolio .box-container .box {
    height: 23rem;
    width: 29rem;
    border-radius: 1rem;
    margin: 3rem;
    overflow: hidden;
    cursor: pointer;
}

.portfolio .box-container .box h3 {
    font-size: 1.5rem;
    color: var(--white);
    text-align: center;
    margin-bottom: 2.5rem;
}

.portfolio .box-container .box h3 a i {
    color: var(--white);
    margin: auto;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    font-size: 35px;
}


.portfolio .box-container .box img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.portfolio .box-container .box:hover img {
    transform: scale(1.2);
}

/*============ Icons de contacto ============*/

.contact .row {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.contact .row .content {
    flex: 1 1 30rem;
    padding: 4rem;
    padding-bottom: 0;
}

.contact .row form .box {
    padding: 1.5rem;
    margin: 1rem 0;
    background: var(--fondoCard);
    color: var(--white);
    text-transform: none;
    font-size: 1.7rem;
    width: 100%;
}

.contact .row form .box:focus {
    border-left: 3px solid var(--yellow);
}

.aimg {
    font-size: 40px;
    text-align: center;
    position: relative;
    left: 0px;
    top: 0px;
    right: 0px;
}

.contact .row form .box::placeholder {
    text-transform: capitalize;
}

.contact .row form .message {
    padding: 1.5rem;
    margin: 1rem 0;
    background: var(--fondoCard);
    color: var(--white);
    text-transform: none;
    font-size: 1.7rem;
    width: 100%;
    height: 25rem;
    resize: none;

}

.contact .row .content .title {
    text-transform: uppercase;
    color: var(--yellow);
    font-size: 3rem;
    margin: 0 13rem;
    padding-bottom: 2rem;
}

.contact .row .content .info h3 {
    margin-top: 4rem;
    color: var(--yellow);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    padding: 1rem 0;
    font-weight: normal;
}

.contact .row .content .info h3 i {
    margin-bottom: -2rem;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 35px;
    padding: 0.2rem;
    transition: all 400ms;
}

.contact .row .content .info h3 i:hover {
    box-shadow: 0px 0px 17px var(--yellow);
}

.icons1 {
    margin-top: 8rem;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: space-evenly;
}

/* ======================Redes sociales============================= */
.contact .row .content .icons1 .twitter i {
    color: #2AA9E0;
}

.contact .row .content .icons1 .instagram i {
    color: #fa0c0e;
}

.contact .row .content .icons1 .linkedin i {
    color: #0c9efa;
}

.contact .row .content .icons1 .github i {
    color: var(--white);
}

.contact .row form {
    flex: 1 1 45rem;
    padding: 2rem;
    margin: 2rem;
    margin-bottom: 4rem;
}

/* ============ Error menssagem */


.modal_wrap {
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);

    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;

    display: flex;
    justify-content: center;
    align-items: center;
}

.mensaje_modal {
    border-radius: 3px;
    box-shadow: 0px 0px 4px var(--yellow);
    width: 400px;
    padding: 30px 20px 15px;
    background: var(--fondo);
}

.mensaje_modal h1 {
    font-size: 30px;
    font-weight: bold;
    color: #00A700;
    text-align: center;
}

.mensaje_modal h3 {
    color: var(--yellow);
    text-align: center;
    font-family: 'Ubuntu';
    font-size: 20px;
    font-weight: bold;
}

.mensaje_modal h3:after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background: var(--yellow);
    margin: 10px 0px 15px;
}

.mensaje_modal p:before {
    content: 'X ';
    font-family: FontAwesome;
    font-weight: bold;
    display: inline-block;
    margin-right: 8px;
    color: red;

}

.mensaje_modal p {
    font-size: 16px;
    font-weight: 600;
    color: var(--yellow);


}


#btnClose {
    font-size: 14px;
    display: inline-block;
    padding: 3px 10px;
    margin-top: 10px;
    width: 40%;
    text-align: center;

    background: #E25151;
    color: var(--yellow);
    font-weight: bold;
    border: 2px solid #B14141;
    cursor: pointer;
    border-radius: 30px;
    border: none;

    float: right;
}


/* FIN ============ Error menssagem */


/* ==========style para validar =========*/

.none {
    display: inline;
    color: var(--yellow);
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top img {
    width: 30px;
}

.top {
    background-repeat: no-repeat;
    background-size: cover;
    width: 2.7%;
    position: fixed;
    bottom: 7.5rem;
    right: 2px;
    z-index: 100;

}


/* media queries  */

@media (max-width:1200px) {
    html {
        font-size: 55%;
    }

    .home {
        padding: 1rem 4rem;
    }

    .top {
        margin-right: 10.9px;
    }

    #error_message {
        padding: 0px;
    }

}


@media (max-width:991px) {
    header {
        left: -120%;
    }

    #menu {
        display: block;
    }

    header.toggle {
        left: 0%;
    }


    body {
        padding: 0;
    }
}

@media (max-width:768px) {
    html {
        font-size: 50%;
    }

}

@media (max-width:560px) {
    .top img {
        width: 100%;
        display: none;
    }

    .none {
        margin-left: 50px;
        display: inline;

    }

    .btnDownl{
        margin-left: 28px;
    }

}


@media (max-width:400px) {
    header {
        width: 100vw;
    }

    .heading {
        margin: 0 3rem;
    }

    .about .row .counter .box {
        width: 100%;
    }

    .education .box-container .box {
        width: 100%;
    }

    .portfolio .box-container .box {
        width: 100%;
    }


    .contact .row form {
        margin: 3rem 0;
    }


}