@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

:root {
    --yellow: #ffffff;
    --white: #1f2f3a;
    --whiteBtm: #060212;
    --fondo: #d3d3d3;
    --fondoBTN: #c4c4c4;
    --fondoCard: #000000;
    --fonttitle: 'DM Sans', sans-serif;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    transition: all .2s linear;
}

*::selection {
    background: var(--fondoCard);
    color: var(--yellow);
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

html::-webkit-scrollbar {
    width: 1.4rem;
}

html::-webkit-scrollbar-track {
    background: var(--fondoCard);
}

html::-webkit-scrollbar-thumb {
    background: var(--yellow);
}

body {
    background: var(--fondo);
    overflow-y: hidden;
    padding-left: 29rem;
    font-family: var(--fonttitle);
}

section {
    min-height: 100vh;
    padding: 1rem;
}

/* para ocultar testo */
.butto_leer {
    margin-top: 1rem;
    font-size: 2rem;
    font-style: oblique;
    text-decoration: underline;
    cursor: pointer;
    color: var(--whiteBtm);
    font-weight: bold;
    background-color: transparent;
    display: none;
}

.butto_leer:hover {
    color: var(--yellow);
}

/* ============== Iconos rddes socilaes arriba y bajo */
.social-links {
    margin: 2rem;
}

.social-links,
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-btn {
    border: 3px solid var(--yellow);
    height: 45px;
    width: 45px;

    box-shadow: -4px 7px 20px #000000;
    background: var(--fondoCard);
    margin: 5px;
    transition: 0.3s;
    justify-content: center;
}

.social-btn svg {
    margin: 0rem 0rem 0rem 0.5rem;
    cursor: pointer;
    height: 29px;
    width: 31px;
}

.social-btn span {
    width: 0px;
    overflow: hidden;
    transition: 0.3s;
    text-align: center;
    margin-left: 5px;
}

.social-btn:hover {
    width: 150px;
    border-radius: 5px;
}

.social-btn:hover span {
    padding: 2px;
    width: 80px;
}

#download svg {
    fill: #D00C00;
}

#download span {
    color: var(--yellow);
    font-size: 1.5rem;
}

#linkedin svg {
    fill: #45a8ff;
}

#linkedin span {
    color: var(--yellow);
    font-size: 1.5rem;
}

#github svg {
    fill: var(--yellow) !important;
}

#github span {
    color: var(--yellow);
    font-size: 1.5rem;
}

#whatsApp svg {
    color: #4cf10a;
}

#whatsApp span {
    color: var(--yellow) !important;
    font-size: 1.5rem;
}



/*======================================== Button ==================*/

.btn {
    width: 19rem;
    padding: 1rem;
    border: 3px solid var(--yellow);
    position: relative;
    margin-top: 40px;
    border-radius: 0.1rem;
    overflow: hidden;
    background: var(--fondoCard);
    box-shadow: -4px 7px 20px #000000;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.5rem;
    transition: 0.3s;
    z-index: 1;
    font-family: inherit;
    color: var(--yellow);
}

.btn::before {
    content: '';
    width: 0;
    height: 480%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(35deg);
    background: var(--yellow);
    transition: .5s ease;
    display: block;
    z-index: -1;
}

.btn:hover::before {
    width: 110%;
    border-radius: 4px;
}

.btn:hover {
    color: var(--white);
    font-weight: 900;
}


/*============= fin Button ==================*/

.heading {
    width: 91%;
    text-align: center;
    margin: 0 6rem;
    font-size: 3rem;
    padding: 1rem;
    border-bottom: 0.2rem solid var(--fondoCard);
    color: var(--white);
}

.heading span {
    color: var(--yellow);
}

header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    height: 100%;
    width: 32rem;
    background-color: var(--fondoCard);
    background-image: url("../img/codigo\ we.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    transition: all 0.6s;
}


.section_home {
    background-color: #000000d5;
    width: 16rem;
    height: 51rem;
    position: relative;
    top: 0rem;
}


header .user-modelo1 img {
    border: 2px solid var(--yellow);
    background: var(--fondoBTN);
    height: 14rem;
    width: 12rem;
    position: relative;
    top: 0rem;
    left: 1.7rem;
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
}



header .user-modelo1 .name {
    font-size: 3.4rem;
    color: var(--yellow);
    font-weight: 700;
}

header .user-modelo1 .post {
    font-size: 2.5rem;
    color: var(--yellow);
    font-weight: bold;
    text-align: center;
}

header .navbar {
    margin-top: 1rem;
    width: 6ren;
}

header .navbar ul {
    list-style: none;
    padding: 1rem 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header .navbar ul li a {
    width: 15rem;
    display: block;
    padding: 1rem;
    margin: 0.5rem 0;
    background-color: var(--fondoCard);
    color: var(--yellow);
    font-weight: bold;
    font-size: 1.5rem;
    border-radius: 0.2rem;
}

/* ============ CSS menu ============ */

#menu {
    width: 7rem;
    position: fixed;
    top: 2rem;
    right: 2rem;
    background: var(--fondoCard);
    color: var(--yellow);
    border: 3px solid var(--yellow);
    cursor: pointer;
    font-size: 3.5rem;
    padding: 1rem 1.5rem;
    z-index: 1000;
    display: none;
}


/* ============= CSS Seja Bem-vindo. ================== */

.home {
    position: relative;
    top: 7rem;
    display: flex;
    justify-content: center;
    flex-flow: column;
    padding: 0 8rem;
    transition: all 0.5s;
}



.home h3 {
    font-size: 3.5rem;
    color: var(--whiteBtm);
    font-weight: 300;
    margin-bottom: 6px;
}

.home h1 {
    font-size: 5rem;
    color: var(--whiteBtm);
    font-weight: 300;
}

.home h1 span {
    color: var(--whiteBtm);
    font-weight: 700;

}

.home_p {
    margin-top: 3rem;
    width: 100%;
}

.home_p p {
    text-align: justify;
    font-size: 1.5rem;
    color: var(--whiteBtm);
    padding: 1rem 0;
}


.home .span {
    color: var(--whiteBtm);
    font-size: 3rem;
    font-weight: bold;
    margin-top: 0.3rem;
}

.undraw_mobile {
    width: 100%;

}

/* =================CSS minhas Experiência =========== */
.about .row {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1rem 0;
    transition: all 0.5s;
}

.row .info {
    margin-top: 3rem;
    width: 100%;
}

.info p {
    text-align: justify;
    font-size: 1.5rem;
    color: var(--whiteBtm);
    padding: 0rem 7rem;
}

.about .row .counter {
    border-radius: 0.2rem;
    margin-top: 3rem;
    flex: 1 1 48rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    transition: all 0.3s;
}

.about .row .counter .box {
    width: 27rem;
    height: 20rem;
    background-color: var(--fondoCard);
    border: 3px solid var(--yellow);
    box-shadow: -4px 7px 20px #000000;
    text-align: start;
    padding: 2rem;
    margin: 2rem;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about .row .counter .box span {
    text-align: center;
    font-weight: bold;
    font-size: 2.3rem;
    margin-bottom: 0.3rem;
    color: var(--yellow);
}



.about .row .counter .box p {
    text-align: justify;
    font-size: 1.4rem;
    color: var(--yellow);
    position: relative;

}

/* ==================== CSS Meu Formação ================*/

.education .box-container {
    margin-top: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    transition: all 0.5s;
    padding: 1rem 0;
    padding-left: 3rem;
}

.education .box-container .box {
    width: 27rem;
    height: 12rem;
    margin: 7rem 1rem 1rem 0rem;
    padding: 1rem;
    border-left: 3px solid var(--fondoCard);
    position: relative;
    display: flex;
    flex-direction: column;
    transition: 0.5s;
}


.span {
    color: var(--whiteBtm);
    font-weight: 600;
    font-size: 2rem;
    margin: -2rem 0rem 0rem 1rem;
}

.education .box-container .box h3 {
    margin-top: 1rem;
    font-size: 1.5rem;
    color: var(--whiteBtm);
    font-weight: 600;
    margin: 0rem 0rem 0rem 1rem;
}

.education .box-container .box p {
    font-size: 1.4rem;
    color: var(--whiteBtm);
    padding: 1rem 0rem;
    margin: 0rem 0rem 0rem 1rem;
    font-weight: 600;
}

.education .box-container .box svg {
    position: absolute;
    top: -2.4rem;
    left: -1.8rem;
    height: 2.5rem;
    width: 3.5rem;
}


/* =================== Css Meu Projeto ========= */

.portfolio .box-container {
    margin: 5rem 0rem 0rem 0rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s;
    flex-wrap: wrap;
    padding: 1rem 0;
    transition: all 300ms;
}


.portfolio .box-container .box {
    border-radius: 0.2rem;
    margin: 2rem 2rem 5rem;
    overflow: visible;
    transition: all 0.9s;
}

.portfolio .box-container .box h3 {
    font-size: 1.4rem;
    color: var(--whiteBtm);
    margin: 0rem -0.2rem 1.2rem;
    font-weight: 800;
    padding: 3px;
    position: relative;
    top: -3.3rem;
}

.portfolio .box-container .box h3 svg {
    color: var(--whiteBtm);
    position: relative;
    top: 0.2rem;
    left: 0.3rem;
    border-radius: 50%;
    width: 3.5rem;
}

.portfolio .box-container .box img {
    height: 20.8rem;
    width: 28.6rem;
    object-fit: fill;
    border: 3px solid var(--yellow);
    box-shadow: -4px 7px 20px #000000;
    margin: -3.2rem 0rem 0rem 0rem;

}

.portfolio .box-container .box:hover img {
    opacity: 10;
    transform: scale(1.02);

}



/* ================= contact================= */
.contact {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
    transition: all 300ms;
}


.contact_div .contact_p {
    text-align: center;
    margin-top: 3rem;
}

.contact_p p {
    font-size: 1.7rem;
    text-align: justify;
    color: var(--whiteBtm);
    font-weight: 500;
    padding: 3rem;
}



.contact .cont_form {
    width: 60rem;
    display: flex;
    flex-direction: column;
    flex: 1 1 30rem;
    padding: 4rem;
    padding-bottom: 6rem;

}

.cont_form .box {
    width: 100%;
    padding: 1.2rem;
    margin: 1rem 0;
    background: var(--fondoCard);
    color: var(--yellow);
    text-transform: none;
    font-size: 1.7rem;
    border-radius: 0.2rem;
    font-weight: 700;
    box-shadow: -4px 7px 20px #000000;
    transition: all 0.9s;
    border: 3px solid var(--yellow);
}

.cont_form .box:hover {
    border-left-color: rgb(255, 255, 255);
}

.cont_form .box:focus {
    border-left: 4px solid var(--whiteBtm);
}


.cont_form .box::placeholder {
    text-transform: capitalize;
    color: #ffffff8c;
}

.cont_form .message {
    padding: 1.5rem;
    margin: 1rem 0;
    background: var(--fondoCard);
    color: var(--yellow);
    text-transform: none;
    font-size: 1.7rem;
    height: 25rem;
    resize: none;

}


.cont_formt .info {
    width: 41rem;
    height: 0rem;
    margin-bottom: 10rem;

}

/* ====================== contact fin============================= */

/* ============ Error menssagem ======================= */



.modal_wrap {
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.445);

    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;

    display: flex;
    justify-content: center;
    align-items: center;
}

.mensaje_modal {
    border-radius: 3px;
    box-shadow: -4px 7px 20px #000000;
    width: 296px;
    padding: 30px 20px 15px;
    background: var(--fondo);
}

.mensaje_modal h1 {
    font-size: 70px;
    font-weight: bold;
    color: #399b04;
    text-align: center;
}

.mensaje_modal h3 {
    color: #ff0505;
    text-align: center;
    font-family: 'Ubuntu';
    font-size: 30px;
    margin-bottom: 20px;
    font-weight: bold;
}

.mensaje_modal h2 {
    color: #399b04;
    text-align: center;
    font-family: 'Ubuntu';
    font-size: 30px;
    margin-bottom: 20px;
    font-weight: bold;
}

.mensaje_modal h3:after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background: var(--fondoCard);
    margin: 10px 0px 15px;
}

.mensaje_modal p:before {
    content: 'X ';
    font-weight: bold;
    font-size: 25px;
    display: inline-block;
    margin-right: 12px;
    color: #ff0505;

}

.mensaje_modal p {
    font-size: 16px;
    font-weight: bold;
    color: var(--whiteBtm);
}


#btnClose {
    font-size: 19px;
    display: inline-block;
    padding: 3px 10px;
    margin-top: 18px;
    width: 60%;
    text-align: center;

    background: var(--fondoCard);
    color: var(--yellow);
    font-weight: bold;
    border: none;
    cursor: pointer;
    border-radius: 2px;
    border: none;
    float: right;
}

#btnClose:hover {
    background-color: rgba(127, 31, 31, 0.651);
}


/* FIN ============ Error menssagem */


/* ==========arrow pointing up style =========*/

.none {
    display: inline;
    color: var(--yellow);
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ======scroll======== */
.top {
    background-repeat: no-repeat;
    background-size: cover;
    width: 2rem;
    position: fixed;
    bottom: 7.5rem;
    right: 12px;
    z-index: 100;
    text-decoration: none;
}


.top svg {

    border: 2px solid var(--yellow);
    width: 29px;
    height: 3rem;
    box-shadow: -4px 7px 20px #000000;
    text-decoration: none;
    color: var(--yellow);
    background-color: var(--fondoCard);
}


/* media queries  */

@media (max-width:1281px) {
    body {
        padding-left: 33rem;
    }

    html {
        font-size: 55%;
    }

    .section_home {
        top: 0rem;
    }

    header .navbar {
        margin-bottom: 0rem;
    }

    header .navbar ul li a {
        margin: 0.5rem 0;
    }

    .home {
        top: 4rem;
    }

    .home h1 {
        font-size: 4rem;
    }

    .home h3 {
        font-size: 3.5rem;
    }

    .home p {
        font-size: 1.7rem;
    }

    .home .span {
        font-size: 2.5rem;
    }

    .row .info p {
        font-size: 1.7rem;
    }

    .about .row .counter .box {
        width: 28rem;
        height: 22rem;
    }

    .education .box-container .box {
        width: 27.6rem;
        height: 13.5rem;
    }

    .portfolio .box-container .box {
        width: 27.9rem;
        height: 20.3rem;
    }



}



@media (max-width: 1025px) {

    header {
        left: -120%;
        height: 100%;
    }

    header .user-modelo1 {
        position: absolute;
        top: 1rem;
    }


    header .navbar {
        position: absolute;
        top: 22rem;
        left: -2.5rem;
    }

    #menu {
        display: block;
    }

    header.toggle {
        width: 28rem;
        left: 0%;
    }

    body {
        padding: 0;
    }

    .home {
        top: 4rem;
    }


}

@media (max-width: 914px) {
    .home {
        top: -3rem;
    }

    .section_home {
        position: fixed;
        top: 24rem;
    }

    .education .box-container .box {
        width: 28rem;
        height: 13rem;
        margin: 1rem 0rem 5rem 0rem
    }
}



@media (max-width: 560px) {

    .section_home {
        position: fixed;
        top: 13rem;
    }

    header .navbar {
        position: absolute;
        top: 18rem;
    }

    header .navbar ul {
        margin-top: 5rem;
    }

    header.toggle {
        width: 28rem;
    }

    .heading {
        margin: 0 2rem;

    }

    .home {
        padding: 4rem;
        margin-top: 6rem;
    }


    .home p {
        font-size: 2.1rem;
    }

    .row .info p {
        font-size: 2.1rem;
    }

    /* para ocultar testo */
    .butto_leer {
        display: block;
    }

    .ocultar {
        display: none;
    }

    .mostrar {
        display: block;
    }

    /* fin para ocultar testo */

    .about .row .counter .box {
        width: 43rem;
        height: 28rem;
    }

    .about .row .counter {
        width: 0rem;
    }

    .about .row .counter .box span {
        font-size: 2.7rem;
    }

    .education .box-container .box {
        width: 43rem;
        height: 14rem;
        margin: 7rem 5rem 0rem 0rem;
    }

    .portfolio .box-container .box {
        width: 43rem;
        height: 28.5rem;
        margin: 5rem 0rem 2rem 0rem;
    }

    .about .row .counter .box p {
        font-size: 1.8rem;
        margin-top: 3rem;
    }

    .education .box-container .box h3 {
        font-size: 1.8rem;
    }

    .span {
        font-size: 2.3rem;
    }

    .education .box-container .box p {
        font-size: 1.8rem;
    }

    .portfolio .box-container .box h3 {
        font-size: 2rem;
    }

    .portfolio .box-container .box img {
        height: 28.8rem;
        width: 43.6rem;
    }

    .btn {
        font-size: 2rem;
        margin-left: 16px;
    }


    .top svg {
        display: none;
    }


    .contact .row .content {
        width: 57rem;
    }

    .contact_p p {
        font-size: 1.9rem;
        padding: 3rem;
        margin: 0rem 5rem 0rem 1rem;
    }

    .contact .cont_form {
        width: 58rem;
    }

    .cont_form .box {
        width: 89%;
        position: relative;
        left: 2rem;
    }
}


@media (max-width:430px) {

    header .navbar {
        top: 17rem;
    }

    .home {
        margin-top: 3rem;
    }

    .home h1 {
        font-size: 4.5rem;
    }

    .home h3 {
        font-size: 3rem;
    }

    .home p {
        font-size: 1.9rem;
    }

    .heading {
        font-size: 3rem;
        margin: 0 3rem;
    }

    .section_home {
        top: 12rem;
    }

    .about .row .counter .box {
        width: 36rem;
    }

    .education .box-container .box {
        height: 18rem;
        margin: 6rem 4rem 0rem 0rem;
        width: 36.5rem;
    }

    .portfolio .box-container .box {
        width: 35.5rem;
        height: 28.9rem;
        margin: 5rem 0rem 6rem -0.5rem;
    }

    .row .info p {
        font-size: 1.9rem;
        padding: 0rem 2rem;
    }

    .portfolio .box-container .box h3 {
        font-size: 2rem;
        top: -3.5rem;
    }

    .about .row .counter .box p {
        font-size: 1.9rem;
    }

    .portfolio .box-container .box img {
        height: 28.8rem;
        width: 35.6rem;
    }

    .span {
        font-size: 2.6rem;
    }

    .contact .cont_form {
        width: 42rem;
    }

    .cont_form .box {
        width: 36rem;
        position: relative;
        left: -1rem;
    }

    .btn {
        margin-left: -10px;
    }

}