@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap');

:root {
    --yellow: #ffffff;
    --white: #1f2f3a;
    --whiteBtm: #060212;
    --fondo: #dadada;
    --fondoBTN: #474747;
    --fondoCard: #000000;
    --fonttitle: 'sans-serif';
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    transition: all .2s linear;
}

*::selection {
    background: #000000d1;
    color: var(--yellow);
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

html::-webkit-scrollbar {
    width: 1.4rem;
}

html::-webkit-scrollbar-track {
    background: var(--whiteBtm);
}

html::-webkit-scrollbar-thumb {
    background: var(--yellow);
}

body {
    background: var(--fondo);
    overflow-y: hidden;
    padding-left: 35rem;
    font-family: var(--fonttitle);
}

section {
    min-height: 100vh;
    padding: 1rem;
}

/* para ocultar testo */
.butto_leer {
    margin-top: 1rem;
    font-size: 2rem;
    font-style: oblique;
    text-decoration: underline;
    cursor: pointer;
    color: var(--whiteBtm);
    font-weight: bold;
    background-color: transparent;
    display: none;
}

.butto_leer:hover {
    color: var(--yellow);
}

/* ============== Iconos rddes socilaes arriba y bajo */
.social-links {
    margin: 2rem;
}

.social-links,
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-btn {
    border: 3px solid var(--yellow);
    height: 50px;
    width: 50px;
    font-family: 'Titillium Web', sans-serif;
    box-shadow: 0px 23px 27px #000000;
    background: var(--whiteBtm);
    margin: 5px;
    transition: 0.3s;
    justify-content: center;
}

.social-btn svg {
    cursor: pointer;
    height: 24px;
    width: 24px;
}

.social-btn span {
    width: 0px;
    overflow: hidden;
    transition: 0.3s;
    text-align: center;
    margin-left: 5px;
}

.social-btn:hover {
    width: 150px;
    border-radius: 5px;
}

.social-btn:hover span {
    padding: 2px;
    width: 80px;
}

#download svg {
    fill: #ffffff;
}

#download span {
    color: #ffffff;
    font-size: 1.5rem;
}

#linkedin svg {
    fill: #ffffff;
}

#linkedin span {
    color: #ffffff;
    font-size: 1.5rem;
}

#github svg {
    fill: #ffffff !important;
}

#github span {
    color: #ffffff;
    font-size: 1.5rem;
}

#whatsApp svg {
    color: #ffffff ;
}

#whatsApp span {
    color: #ffffff !important;
    font-size: 1.5rem;
}



/*======================================== Button ==================*/
.btn {
    width: 19rem;
    padding: 1rem;
    border: 3px solid var(--yellow);
    position: relative;
    margin-top: 40px;
    border-radius: 0.1rem;
    overflow: hidden;
    background: var(--whiteBtm);
    box-shadow: 0px 23px 27px #000000;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.5rem;
    transition: 0.3s;
    z-index: 1;
    font-family: inherit;
    color: var(--yellow);
}

.btn::before {
    content: '';
    width: 0;
    height: 480%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(35deg);
    background: var(--yellow);
    transition: .5s ease;
    display: block;
    z-index: -1;
}

.btn:hover::before {
    width: 110%;
    border-radius: 4px;
}

.btn:hover {
    color: var(--white);
    font-weight: 900;
}


/*============= fin Button ==================*/

.heading {
    width: 91%;
    text-align: center;
    margin: 0 6rem;
    font-size: 3rem;
    padding: 1rem;
    border-bottom: .1rem solid var(--fondoBTN);
    color: var(--white);
}

.heading span {
    color: var(--yellow);
}

header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    height: 100%;
    width: 35rem;
    color: var(--fondoCard);
    background-image: url("../img/projeco_codig.webp");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    transition: all 0.6s;
}

header .user-modelo1 {
    margin-bottom: 1rem;
}

header .user-modelo1 img {
    border: 2px solid var(--yellow);
    background: var(--fondoBTN);
    height: 17rem;
    width: 15rem;
    margin-top: 0rem;
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
}



header .user-modelo1 .name {
    font-size: 3.5rem;
    color: var(--yellow);
    font-weight: 700;
}

header .user-modelo1 .post {
    font-size: 2.5rem;
    color: var(--yellow);
    font-weight: bold;
    margin-bottom: 0.5rem;
}

header .navbar {
    width: 100%;
}

header .navbar ul {
    list-style: none;
    padding: 1rem 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header .navbar ul li a {
    width: 15rem;
    display: block;
    padding: 1rem;
    margin: 0.5rem 0;
    background-color: var(--whiteBtm);
    color: var(--yellow);
    font-weight: bold;
    font-size: 1.5rem;
    border-radius: 0.2rem;
}

/* ============ CSS menu ============ */

#menu {
    position: fixed;
    top: 2rem;
    right: 2rem;
    background: var(--whiteBtm);
    color: var(--yellow);
    box-shadow: 0px 23px 27px #0000009a;
    border: 3px solid var(--yellow);
    cursor: pointer;
    font-size: 2.5rem;
    padding: 1rem 1.5rem;
    z-index: 1000;
    display: none;
}

/* ============= CSS Seja Bem-vindo. ================== */

.home {
    position: relative;
    top: 7rem;
    display: flex;
    justify-content: center;
    flex-flow: column;
    padding: 0 8rem;
    transition: all 0.5s;
}



.home h3 {
    font-size: 3.5rem;
    color: var(--whiteBtm);
    font-weight: 300;
    margin-bottom: 6px;
}

.home h1 {
    font-size: 5rem;
    color: var(--whiteBtm);
    font-weight: 300;
}

.home h1 span {
    color: var(--whiteBtm);
    font-weight: 700;
}

.home p {
    text-align: justify;
    font-size: 2rem;
    font-weight: 600;
    color: var(--whiteBtm);
    padding: 1rem 0;
    font-weight: 300;
}


.home .span {
    color: var(--whiteBtm);
    font-size: 3rem;
    font-weight: bold;
}


.about .row {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1rem 0;
    transition: all 0.5s;
}

.info .undraw_mobile {
    width: 100%;

}

/* =================CSS minhas Experiência =========== */
.row .info {
    width: 87%;
}

.row .info p {
    margin-top: 2rem;
    text-align: justify;
    font-size: 2rem;
    font-weight: 600;
    color: var(--white);
    padding: 1rem 0;
    font-weight: 300;
}

.about .row .counter {
    border-radius: 0.2rem;
    margin-top: 3rem;
    flex: 1 1 48rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    transition: all 0.3s;
}

.about .row .counter .box {
    width: 25rem;
    height: 16rem;
    background-color: var(--fondoCard);
    border: 3px solid var(--yellow);
    box-shadow: 0px 23px 27px #000000;
    text-align: start;
    padding: 2rem;
    margin: 2rem;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

.about .row .counter .box:hover {
    opacity: 0.9;
    transform: scale(1.05);
}


.about .row .counter .box span {
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
    color: var(--yellow);
}


.about .row .counter .box p {
    text-align: justify;
    margin-top: 1rem;
    font-size: 1.4rem;
    color: var(--yellow);
    position: relative;

}

/* ==================== CSS Meu Formação ================*/

.education .box-container {
    margin-top: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    transition: all 0.5s;
    padding: 1rem 0;
    padding-left: 3rem;
}

.education .box-container .box {
    width: 25rem;
    height: 16rem;
    margin: 2rem;
    background-color: var(--fondoCard);
    border: 3px solid var(--yellow);
    border-left: 0.2rem solid var(--yellow);
    box-shadow: 0px 23px 27px #000000;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    transition: 0.5s;
}

.education .box-container .box:hover {
    opacity: 0.9;
    transform: scale(1.05);
}

.education .box-container .education .box-container .box span {
    font-size: 2rem;
    background: var(--fondoCard);
    color: var(--yellow);
    border-radius: 5rem;
    padding: 0.5rem 2.5rem;
   margin-left: 1rem;
}

.education .box-container .box h3 {
    margin-top: 1rem;
    font-size: 1.5rem;
    color: var(--yellow);
    margin: 0rem;
   margin-left: 1rem;
}

.education .box-container .box p {
    font-size: 1.4rem;
    color: var(--yellow);
    padding: 1rem 0rem;
    text-align: left;
   margin-left: 1rem;
}

.education .box-container .box i {
    position: absolute;
    top: -0.7rem;
    left: -1.5rem;
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 50%;
    line-height: 4rem;
    text-align: center;
    font-size: 2rem;
    color: var(--whiteBtm);
    background: var(--yellow);
}

.span {
    color: var(--yellow);
    font-weight: 600;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 3rem;
}

/* =================== Css Meu Projeto ========= */

.portfolio .box-container {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s;
    flex-wrap: wrap;
    padding: 1rem 0;
}


.portfolio .box-container .box {
    width: 25rem;
    height: 20rem;
    border-radius: 0.2rem;
    margin: 2rem 2rem 5rem;
    overflow: visible;
    box-shadow: 0px 23px 27px #000000;
    border: 3px solid var(--yellow);
    background-color: var(--fondoCard);
    transition: all 0.9s;
}

.portfolio .box-container .box h3 {
    font-size: 1.4rem;
    color: var(--yellow);
    margin-bottom: 1rem;
    font-weight: 500;
    padding: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.portfolio .box-container .box h3 a i {
    color: var(--yellow);
    margin: auto;
    border-radius: 50%;
    font-size: 26px;
    transition: all 300ms;
}

.portfolio .box-container .box h3 a i:hover {
    opacity: 0.8;
    transform: scale(1.09);

}


.portfolio .box-container .box img {
    height: 15rem;
    width: 24rem;
    object-fit: fill;
    border: 1px solid var(--yellow);
    margin: 0rem 0.3rem;
}

.portfolio .box-container .box:hover img {
    opacity: 10;
    transform: scale(1.05);

}



/*============ Icons de contacto ============*/
.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact .row {
    margin-bottom: 7rem;
    width: 100%;
    transition: all 0.5s;
}


.contact .row .content {
    flex: 1 1 30rem;
    padding: 4rem;
    padding-bottom: 0;
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-items: center;
    flex-wrap: wrap;
}


.contact .row form .box {
    padding: 1.5rem;
    margin: 1rem 0;
    background: var(--fondoCard);
    color: var(--yellow);
    text-transform: none;
    font-size: 1.7rem;
    border-radius: 0.2rem;
    width: 100%;
    font-weight: 700;
    box-shadow: 0px 23px 27px #000000;
    transition: all 0.9s;
        border: 3px solid var(--yellow);
}

.contact .row form .box:hover {
    border-left-color: rgb(255, 255, 255);
}

.contact .row form .box:focus {
    border-left: 4px solid var(--whiteBtm);
}


.contact .row form .box::placeholder {
    text-transform: capitalize;
    color: #ffffff8c;
}

.contact .row form .message {
    padding: 1.5rem;
    margin: 1rem 0;
    background: var(--fondoCard);
    color: var(--yellow);
    text-transform: none;
    font-size: 1.7rem;
    height: 25rem;
    resize: none;

}


.contact .row .content .info {
    width: 41rem;
    height: 0rem;
    margin-bottom: 10rem;

}



/* ================= contact================= */



.contact .row form {
    flex: 1 1 45rem;
    padding: 2rem;
    margin: 2rem;
    margin-bottom: 4rem;
}


.contact_div .contact_p{
 text-align: center;
 margin-top: 3rem;
}

.contact_p p{
    font-size: 2rem;
    text-align: justify;
    color: var(--fondoCard);
    font-weight: 500;
    padding: 3rem;
}
/* ====================== contact fin============================= */
/* ============ Error menssagem ======================= */



.modal_wrap {
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.445);

    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;

    display: flex;
    justify-content: center;
    align-items: center;
}

.mensaje_modal {
    border-radius: 3px;
    box-shadow: 11px 23px 27px #000000;
    width: 296px;
    padding: 30px 20px 15px;
    background: var(--fondo);
}

.mensaje_modal h1 {
    font-size: 70px;
    font-weight: bold;
    color: #399b04;
    text-align: center;
}

.mensaje_modal h3 {
    color: #ff0505;
    text-align: center;
    font-family: 'Ubuntu';
    font-size: 30px;
    margin-bottom: 20px;
    font-weight: bold;
}

.mensaje_modal h2 {
    color: #399b04;
    text-align: center;
    font-family: 'Ubuntu';
    font-size: 30px;
    margin-bottom: 20px;
    font-weight: bold;
}

.mensaje_modal h3:after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background: var(--fondoCard);
    margin: 10px 0px 15px;
}

.mensaje_modal p:before {
    content: 'X ';
    font-weight: bold;
    font-size: 25px;
    display: inline-block;
    margin-right: 12px;
    color: #ff0505;

}

.mensaje_modal p {
    font-size: 16px;
    font-weight: bold;
    color: var(--whiteBtm);
}


#btnClose {
    font-size: 19px;
    display: inline-block;
    padding: 3px 10px;
    margin-top: 18px;
    width: 60%;
    text-align: center;

    background: #ff0505;
    color: var(--yellow);
    font-weight: bold;
    border: none;
    cursor: pointer;
    border-radius: 2px;
    border: none;

    float: right;
}

#btnClose:hover {
    background-color: rgba(170, 38, 38, 0.651);
}


/* FIN ============ Error menssagem */


/* ==========arrow pointing up style =========*/

.none {
    display: inline;
    color: var(--yellow);
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* ======scroll======== */
.top {
    background-repeat: no-repeat;
    background-size: cover;
    width: 2rem;
    position: fixed;
    bottom: 7.5rem;
    right: 12px;
    z-index: 100;
    text-decoration: none;
}


.top svg {
    
    border: 2px solid var(--yellow);
    width: 29px;
    height: 3rem;
    box-shadow: 6px 15px 24px #000000;
   text-decoration: none;
   color: #ffffff;
   background-color: var(--fondoCard);
}


/* media queries  */

@media (max-width:1280px) {

    html {
        font-size: 55%;
    }

    header .user-modelo1 {
        margin-bottom: 1rem;
    }

    header .navbar {
        margin-bottom: 0rem;
    }

    header .navbar ul li a {
        margin: 0.5rem 0;
    }

    .home {
        top: 4rem;
    }

    .home h1 {
        font-size: 4rem;
    }

    .home h3 {
        font-size: 3.5rem;
    }

    .home .span {
        font-size: 2.5rem;
    }

    .about .row .counter .box {
        width: 28rem;
        height: 22rem;
    }

    .education .box-container .box {
        width: 28rem;
        height: 22rem;
    }

    .portfolio .box-container .box {
        width: 28rem;
    }
    .portfolio .box-container .box img {
        margin: -1rem 1.8rem;
    }

}



@media (max-width:921px) {

    header {
        left: -120%;
        height: 100%;
    }

    header .user-modelo1 {
        position: absolute;
        top: 22rem;
    }

    header .navbar {
        position: absolute;
        top: 49rem;
    }

    #menu {
        display: block;
    }

    header.toggle {
        width: 28rem;
        left: 0%;
    }

    body {
        padding: 0;
    }

    .home {
        top: -17rem;
    }
    .portfolio .box-container .box img {
        margin: -1rem 1.7rem;
    }
}

@media (max-width: 768px) {
    .home {
        top: 0rem;
    }
}


@media (max-width: 560px) {

    header .user-modelo1 {
        position: absolute;
        top: 12rem;
    }

    header .navbar {
        position: absolute;
        top: 32rem;
    }

    header .navbar ul li {
        margin-top: 14px;
    }

    header .navbar ul {
        margin-top: 5rem;
    }

    header.toggle {
        width: 28rem;
    }

    .heading {
        margin: 0 2rem;

    }

    .home {
        padding: 4rem;
    }
    

    .home p {
        font-size: 2.1rem;
    }

    .home {
        margin-top: 6rem;
    }

    .row .info p {
        font-size: 2.1rem;
    }

    /* para ocultar testo */
    .butto_leer {
        display: block;
    }

    .ocultar {
        display: none;
    }

    .mostrar {
        display: block;
    }

    /* fin para ocultar testo */

    .about .row .counter .box {
        width: 49rem;
        height: 25rem;
    }


    .education .box-container .box {
        width: 49rem;
        height: 25rem;
    }

    .education .box-container .box {
        width: 49rem;
        height: 22rem;
    }

    .portfolio .box-container .box {
        width: 49rem;
        height: 22rem;
    }

    .about .row .counter .box p {
        font-size: 1.8rem;
        margin-top: 3rem;
    }

    .education .box-container .box h3 {
        font-size: 1.8rem;
    }
    .education .box-container .box p {
        font-size: 1.8rem;
    }
   
    .portfolio .box-container .box img {
        height: 14rem;
        width: 25rem;
        margin: 0rem 12rem;
    }
    .btn {
        font-size: 2rem;
        margin-left: 0px;
    }


    .top svg {
        display: none;
    }


    .contact .row .content {
        width: 57rem;
    }

    .contact_p p {
        padding: 3rem;
    }
}


@media (max-width:430px) {
    header .user-modelo1 {
        top: 9rem;
    }

    header .navbar {
        width: 69%;
        top: 27rem;
    }

    .home {
        margin-top: 3rem;
    }

    .home h1 {
        font-size: 4.5rem;
    }

    .home h3 {
        font-size: 3rem;
    }

    .home p {
        font-size: 1.9rem;
    }

    .heading {
        font-size: 3rem;
        margin: 0 3rem;
    }

    .about .row .counter .box {
        width: 36.5rem;
    }

    .row .info p {
        font-size: 1.9rem;
    }

    .education .box-container .box {
        margin-left: -1rem;
    }

    .portfolio .box-container .box h3 {
        font-size: 2rem;
    }

    .portfolio .box-container .box {
        width: 36.5rem;
    }


    .portfolio .box-container .box img {
        margin: 0rem 5rem;
    }

    .about .row .counter .box p {
        font-size: 1.9rem;
    }

    .span {
        font-size: 2.6rem;
    }

    .contact .row form {
        margin: 3rem 0;
    }

    .contact .row .content {
        width: 37rem;
    }

}